[submodule "html5_games/bzjs"]
	path = html5_games/bzjs
	url = https://bzlib@github.com/bzlib/bzjs.git
[submodule "html5_games/js/yepnope"]
	path = html5_games/js/yepnope
	url = https://github.com/SlexAxton/yepnope.js.git
